<div class="row grid-margin d-flex flex-row-reverse" *ngIf="hasPermission()">
  <div class="col-sm-12 col-md-3">
    <a class="btn btn-primary btn-block text-white" (click)="showEmails()">
      Listar emails
      <i class="mdi mdi-at"></i>
    </a>
  </div>
</div>
