<footer class="footer no-print">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
    <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Versão: {{ versao }}</span>
  </div>
</footer>
