<div class="row grid-margin d-flex flex-row-reverse no-print">
  <div class="col-sm-12 col-md-2">
    <a class="btn btn-primary btn-block text-white" onClick="window.print()">
      <i class="mdi mdi-printer"></i>Imprimir
    </a>
  </div>
</div>

<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body p-2 pt-3">

      <h5 class="card-description only-print text-center" *ngIf="mode !== 'detail'">Morada Espírita Professor Lairi Hans - Evangelização</h5>

      <h4 class="card-description text-center"><u>Calendário de atividades - {{ calendario?.semestre }}º semestre de {{
          calendario?.ano }}</u></h4>

      <div class="alert alert-warning"  *ngIf="meses.length === 0">Não há atividades cadastradas para esse mês</div>

      <div *ngFor="let mes of meses; index as i" [ngClass]="{ 'table-big': mode === 'detail', 'table-responsive': mode !== 'detail' }">
        <table class="table table-bordered" *ngIf="mes.length > 0">
          <thead>
            <tr>
              <th colspan="2" class="cell mes text-uppercase font-weight-bold">
                {{ getMesLabel(mes[0].data) }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let atividade of mes; index as idx">
              <td class="cell data" [ngClass]="{ 'font-weight-bold': !atividade.aula && !atividade.externa,
                'sem-aula': !atividade.aula && !atividade.externa }"
                width="50px">
                {{ getDiaAtividade(atividade) }}
              </td>
              <td class="cell data" [ngClass]="{ 'font-weight-bold': !atividade.aula,
                'sem-aula': !atividade.aula && !atividade.externa }"
                [innerHTML]="getDescricoes(atividade)"></td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="obs only-print border border-dark p-3 mt-2" *ngIf="mode !== 'detail'">

        <span class="font-weight-bold">Horário da Evangelização: 9h30 às 11h15</span><br />
        <span><b>Início das aulas:</b> 9h30min (fechamento do portão: 9h30min)</span><br />
        <span class="font-italic">--> Alunos atrasados não poderão entrar, temos que manter e incentivar a disciplina
          da Morada.</span><br />
        <span><b>Término das aulas:</b> 11h15min (os alunos só poderão sair da Morada acompanhados pelos responsáveis)</span><br />
        <span class="font-italic">-->* Todas as atividades estão pré-agendadas para essas datas, podendo ser
          modificadas. Se isso ocorrer, será avisado com antecedência.</span>
      </div>

    </div>
  </div>
</div>
