
.cell {
  padding: 8px;

  &.mes {
    background-color: #B2D0E4 !important;
  }

  &.sem-aula {
    background-color: #ccc !important;
  }

  &.descricoes {
    span {
      margin-bottom: 3px;
    }
  }

}
.table-big {
  th, tr, td, span {
    padding: 15px;
    font-size: 25px;
    white-space: inherit;
    line-height: 1.2em;
  }
}

.obs {
  font-size: 12px;
}


