<div class="row grid-margin d-flex flex-row-reverse no-print pt-2 pr-2" *ngIf="hasPermission()">
  <div class="col-sm-12 col-md-3">
    <a class="btn btn-success btn-block text-white" routerLink="/evangelizadores/criar">
      Novo evangelizador
      <i class="mdi mdi-plus"></i>
    </a>
  </div>
</div>


<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body">

      <h4 class="card-description">Evangelizadores</h4>

      <div class="row no-print">
        <div class="col-md-8 text-right">
          Selecione a atividade
        </div>
        <div class="col-md-4 text-right">
          <select class="form-control form-control-sm" id="atividadeSelect" name="turma" [(ngModel)]="selectedAtividade"
            (ngModelChange)="changeAtividade(selectedAtividade)">
            <option>Todas</option>
            <option *ngFor="let at of atividades">{{ at }}</option>
          </select>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Nome
              </th>
              <th>
                Atividades
              </th>
              <th class="no-print">
                Email
              </th>
              <th>
                Telefone
              </th>
              <th class="no-print">
                Trabalho Morada
              </th>
              <th style="width:190px;" class="no-print" *ngIf="hasPermission()">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evangelizador of evangelizadores; index as i">
              <td scope="row">{{i + 1}}</td>
              <td>
                <a (click)="openDetails(evangelizador)" class="text-primary"
                  style="cursor: pointer">{{ evangelizador.nome }} {{
                  evangelizador.sobrenome }}</a>
              </td>
              <td>
                <div class="badge badge" [ngClass]="getStyleAtividade(evangelizador.atividade)">
                  {{ evangelizador.atividade }}</div>
              </td>
              <td class="no-print">
                {{ evangelizador.email }}
              </td>
              <td>
                {{ evangelizador.telefone }}
              </td>
              <td class="no-print">
                {{ evangelizador.trabalhoMesa ? evangelizador.trabalhoMesa : '-' }} /
                {{ evangelizador.trabalhoAtend ? evangelizador.trabalhoAtend : '-' }}
              </td>
              <td *ngIf="hasPermission()" class="no-print">
                <span placement="top" ngbTooltip="Editar">
                  <button class="btn btn-outline-primary" type="button" style="font-size: 1.2em"
                    (click)="edit(evangelizador.id)">
                    <i class="mdi mdi-pencil" style="margin-right: 0"></i>
                  </button>
                </span>
                <span placement="top" ngbTooltip="Remover">
                  <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em"
                    mwlConfirmationPopover popoverTitle="Remover evangelizador?"
                    popoverMessage="Tem certeza que deseja remover o evangelizador '{{evangelizador.nome}}'?"
                    placement="left" (confirm)="remove(evangelizador.id)">
                    <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
                  </button>
                </span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row grid-margin d-flex flex-row-reverse no-print" *ngIf="hasPermission()">
  <div class="col-sm-12 col-md-2">
    <a class="btn btn-primary btn-block text-white" onClick="window.print()">
      <i class="mdi mdi-printer"></i>Imprimir lista
    </a>
  </div>
  <div class="col-sm-12 col-md-2">
    <a class="btn btn-primary btn-block text-white" (click)="getLabels()">
      <i class="mdi mdi-arrow-collapse-down"></i>Crachás
    </a>
  </div>

  <div class="col-sm-12 col-md-2">
    <a class="btn btn-primary btn-block text-white" (click)="showEmails()">
      Listar emails
      <i class="mdi mdi-at"></i>
    </a>
  </div>
</div>
