<div class="card">
  <div class="card-body">

    <ngb-tabset>
      <ngb-tab title="Livros">
        <ng-template ngbTabContent>

          <div class="row grid-margin d-flex flex-row-reverse pt-2 pr-2 no-print">


            <div class="col-sm-6 col-md-3 text-right">
              <a class="btn btn-success btn-block text-white" routerLink="/livros/criar">
                <i class="mdi mdi-plus"></i>
                Novo livro
              </a>
            </div>

            <div class="col-sm-6 col-md-3 text-right">
              <div ngbDropdown placement="bottom-right" class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
                  <i class="mdi mdi-settings-outline"></i> Ações
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu">
                  <button ngbDropdownItem class="dropdown-item" routerLink="/livros/importar">Importar livros</button>
                  <button ngbDropdownItem class="dropdown-item" (click)="openPopupTemas()">Gerenciar temas</button>
                  <button ngbDropdownItem class="dropdown-item" (click)="updateCollection()">Atualizar dados
                    (offline)</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem class="dropdown-item" (click)="openPopupFix()">Corrigir índices</button>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 text-right">
              Catalogação: {{ getBookingProgress() }}
            </div>
          </div>

          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:100px;">
                    Tombo
                  </th>
                  <th>
                    Título
                  </th>
                  <th style="width:300px;">
                    Autor(es)
                  </th>
                  <th style="width:25px;" class="no-print"></th>
                  <th style="width:190px;" class="no-print">
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let livro of livros; index as i">
                  <td>{{ livro.tombo }}</td>
                  <td style="white-space: inherit;"><a routerLink="/livros/{{ livro.id }}">{{ livro.titulo }}</a></td>
                  <td style="white-space: inherit;">{{ livro.autores }}</td>
                  <td class="no-print">
                    <span [innerHTML]="getStatusLivro(livro)"></span>
                    <i class="mdi mdi-check-outline ml-1" *ngIf="livro.cadastroCompleto"
                      ngbTooltip="Informações completas"></i>
                  </td>
                  <td class="no-print">
                    <span placement="top" ngbTooltip="Adicionar exemplar">
                      <a class="btn btn-outline-dark ml-1" style="font-size: 1.2em"
                        [routerLink]="['/livros/copiar/' + livro.id]">
                        <i class="mdi mdi-plus" style="margin-right: 0"></i>
                      </a>
                    </span>
                    <span placement="top" ngbTooltip="Editar">
                      <a class="btn btn-outline-primary ml-1" style="font-size: 1.2em"
                        [routerLink]="['/livros/editar/' + livro.id]">
                        <i class="mdi mdi-pencil" style="margin-right: 0"></i>
                      </a>
                    </span>
                    <span placement="top" ngbTooltip="Remover">
                      <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em"
                        mwlConfirmationPopover popoverTitle="Remover calendário?"
                        popoverMessage="Tem certeza que deseja remover o livro '{{livro.titulo}}'?" placement="left"
                        (confirm)="remove(livro.id)">
                        <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </ng-template>
      </ngb-tab>

      <ngb-tab title="Sócios">
        <ng-template ngbTabContent>



          <div class="row grid-margin d-flex flex-row-reverse pt-2 pr-2 no-print">

            <div class="col-sm-6 col-md-3 text-right">
              <a class="btn btn-success btn-block text-white" (click)="openPopupSociosForm()">
                <i class="mdi mdi-plus"></i>
                Novo sócio
              </a>
            </div>

            <div class="col-sm-6 col-md-3 text-right">
              <div ngbDropdown placement="bottom-right" class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
                  <i class="mdi mdi-settings-outline"></i> Ações
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu">
                  <button ngbDropdownItem class="dropdown-item" (click)="openPopupSociosImport()">Importar
                    existentes</button>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-6">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary" [ngClass]="{'active': selectedGroup == TiposSocios.ALUNOS }">
                  <input type="radio" name="options" id="option1" (click)="changeSelectedGrupo(TiposSocios.ALUNOS)">Alunos
                </label>
                <label class="btn btn-outline-secondary" [ngClass]="{'active': selectedGroup == TiposSocios.EVANGELIZADORES }">
                  <input type="radio" name="options" id="option2" (click)="changeSelectedGrupo(TiposSocios.EVANGELIZADORES)">Evangelizadores
                </label>
                <label class="btn btn-outline-secondary" [ngClass]="{'active': selectedGroup == TiposSocios.PAIS }">
                  <input type="radio" name="options" id="option3" (click)="changeSelectedGrupo(TiposSocios.PAIS)">Pais
                </label>
                <label class="btn btn-outline-secondary" [ngClass]="{'active': selectedGroup == TiposSocios.OUTROS }">
                  <input type="radio" name="options" id="option4" (click)="changeSelectedGrupo(TiposSocios.OUTROS)">Outros
                </label>
              </div>
            </div>

          </div>

          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:100px;">
                    Número
                  </th>
                  <th>
                    Nome
                  </th>
                  <th style="width:150px;">
                    Grupo
                  </th>
                  <th style="width:200px;">
                    Contato
                  </th>
                  <th style="width:120px;" class="no-print">
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let socio of socios">
                  <td>{{ socio.numero }}</td>
                  <td style="white-space: inherit;">{{ socio.nome }}</td>
                  <td style="white-space: inherit;">
                    <span class="badge {{getSocioTipoClass(socio.grupo)}}">{{ socio.grupo }}</span>
                  </td>
                  <td style="white-space: inherit;">
                    {{ socio.email }} <br />
                    {{ socio.telefone }}
                  </td>
                  <td class="no-print">
                    <span placement="top" ngbTooltip="Editar">
                      <button class="btn btn-outline-primary ml-1" type="button" style="font-size: 1.2em"
                        (click)="openPopupSociosForm(socio)">
                        <i class="mdi mdi-pencil" style="margin-right: 0"></i>
                      </button>
                    </span>
                    <span placement="top" ngbTooltip="Remover">
                      <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em"
                        mwlConfirmationPopover popoverTitle="Remover calendário?"
                        popoverMessage="Tem certeza que deseja remover o sócio '{{socio.nome}}'?" placement="left"
                        (confirm)="removeSocio(socio.id)">
                        <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
