<div class="row grid-margin d-flex flex-row-reverse" *ngIf="hasAdminPermission()">
  <div class="col-sm-12 col-md-3">
    <a class="btn btn-success btn-block text-white" routerLink="/calendarios/criar">
      Novo calendário
      <i class="mdi mdi-plus"></i>
    </a>
  </div>
</div>

<div class="col-12 grid-margin stretch-card">

    <div class="card">
      <div class="card-body p-2 pt-3">

        <h4 class="card-description">Calendários</h4>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Ano
                </th>
                <th>
                  Semestre
                </th>
                <th>
                  Data início
                </th>
                <th>
                  Data final
                </th>
                <th class="no-print">
                  Número de aulas
                </th>
                <th style="width:190px;" class="no-print">
                  Ações
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let calendario of calendarios; index as i">
                <td>
                 {{ calendario.ano }}
                </td>
                <td>{{ calendario.semestre }}</td>
                <td>
                  {{ getDataInicio(calendario) | date:'dd/MM/yyyy' }}
                </td>
                <td>
                  {{ getDataFim(calendario) | date:'dd/MM/yyyy' }}
                </td>
                <td>
                  {{ getNumAulas(calendario) }}
                </td>
                <td class="no-print">
                  <span placement="top" ngbTooltip="Visualizar lista">
                    <button class="btn btn-outline-dark" type="button" style="font-size: 1.2em" (click)="view(calendario.id)">
                      <i class="mdi mdi-view-list" style="margin-right: 0"></i>
                    </button>
                  </span>
                  <span placement="top" ngbTooltip="Editar" *ngIf="hasAdminPermission()">
                    <button class="btn btn-outline-primary ml-1" type="button" style="font-size: 1.2em" (click)="edit(calendario.id)">
                      <i class="mdi mdi-pencil" style="margin-right: 0"></i>
                    </button>
                  </span>
                  <span placement="top" ngbTooltip="Remover" *ngIf="hasAdminPermission()">
                    <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em"
                      mwlConfirmationPopover popoverTitle="Remover calendário?"
                      popoverMessage="Tem certeza que deseja remover o calendário '{{calendario.ano}} - {{calendario.semestre}}'?"
                      placement="left" (confirm)="remove(calendario.id)">
                      <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
                    </button>
                  </span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
