<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row no-print">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <a [routerLink]="['/calendarios/visualizar/' + ano + '/' + semestre ]" class="nav-link">
            <i class="mdi mdi-calendar"></i>Calendário do mês
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="mdi mdi-format-list-checks"></i>Presenças</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="mdi mdi-book"></i>Biblioteca</a>
      </li> -->
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li><span class="badge badge-outline-light">{{status}}</span></li>
      <li class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
          <span class="profile-text">Olá, {{loggedUser?.displayName}}!</span>
          <img class="img-xs rounded-circle" src="{{loggedUser?.photoURL}}" alt="Profile image">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
          <a class="dropdown-item p-0">
            <div class="d-flex border-bottom">
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
              </div>
              <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
              </div>
            </div>
          </a>
          <a class="nav-link dropdown-item" (click)="signOut()">
            <i class="mdi mdi-logout-variant mr-1 text-gray"></i>
            Sair
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
