<div class="modal-header">
  <h4 class="modal-title">Correção de índices</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <button type="button" class="btn btn-success" (click)="startFixes()">Iniciar</button>
  <span class="badge badge-info ml-2">{{ alunos.length }} alunos</span>
  <span class="badge badge-info ml-2">{{ evangelizadores.length }} evangelizadores</span>
  <div *ngIf="importAlunosStarted">
    <p class="mt-2">1. Importando alunos...</p>
    <div class="progress" style="height: 30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        [style.width.%]="getProgressStatus(alunosProcessed, alunos)">
        {{ getProgressStatus(alunosProcessed, alunos) }}%</div>
    </div>

    <p class="mt-2">2. Importando evangelizadores...</p>
    <div class="progress" style="height: 30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        [style.width.%]="getProgressStatus(evangelizadoresProcessed, evangelizadores)">
        {{ getProgressStatus(evangelizadoresProcessed, evangelizadores) }}%</div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')"
    [disabled]="processRunning">
    {{ processRunning ? 'Aguarde ...' : 'Fechar'}}</button>
</div>
