<div class="row p-2 pt-4 border-top position-relative">

  <div class="col-4 text-center">
    <a routerLink="/livros/{{ livro.id }}"><img [src]="imageURL" class="img-fluid" style="max-height: 10em;"></a>
  </div>
  <!-- <span class="badge badge-warning position-absolute" *ngIf="isRecent()">Novo</span> -->

  <div class="col-8">
    <a routerLink="/livros/{{ livro.id }}"><strong class="d-block">#{{ livro.tombo }} - {{ livro.titulo }}</strong></a>
    <p class="d-block">{{ livro.autores }}</p>

    <div>
      <span class="badge badge-pill badge-outline-primary mr-1"
        *ngFor="let tema of livro.temas">{{ tema.descricao }}</span>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <span>
        <app-custom-tag *ngFor="let turma of livro.publicos" [id]="turma.id" [text]="turma.text"></app-custom-tag>
      </span>
      <span>
        <span class="badge badge-{{ getClassNota() }}" *ngIf="nota" ngbTooltip="{{ livro.reviews.length }} {{livro.reviews.length > 1 ? 'avaliações' : 'avaliação' }}">
          {{ nota }} &#9733;
        </span>
      </span>
      <span *ngIf="hasAdminPermission()" class="no-print mt-2">
        <span placement="top" ngbTooltip="Editar">
          <a class="btn btn-outline-primary btn-sm ml-1" routerLink="/livros/editar/{{livro.id}}">
            <i class="mdi mdi-pencil" style="margin-right: 0"></i>
          </a>
        </span>
      </span>
    </div>
  </div>

  <ng-template #tipContent>{{getTombosExemplares()}}</ng-template>
  <span class="badge badge-dark position-absolute" style="bottom: 0" *ngIf="livro['exemplaresAdicionais']"
    placement="top" [ngbTooltip]="tipContent">
    + {{livro['exemplaresAdicionais'].length}}
    {{ livro['exemplaresAdicionais'].length > 1 ? 'exemplares' : 'exemplar' }}</span>
</div>
