<div class="col-12 text-right mb-2">
  <a class="btn btn-light" [routerLink]="['/livros']">Voltar para lista</a>
</div>

<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body">

      <div class="row">

        <div class="col-lg-3 col-md-5 col-sm-12">
          <img [src]="imageURL" class="img-fluid">
        </div>

        <div class="col-lg-9 col-md-7 col-sm-12">
          <div>
            <h3 class="d-block">#{{ livro.tombo }} - {{ livro.titulo }}</h3><br>
            <h5 class="d-block" *ngIf="livro.subtitulo">{{ livro.subtitulo }}</h5>
            <h6 class="d-block" *ngIf="livro.colecao">{{ livro.colecao }}</h6>
            <p class="d-block mt-5">Temas: <span class="badge badge-pill badge-outline-primary mr-1"
                *ngFor="let tema of livro.temas">{{ tema.descricao }}</span>
            </p>
            <p class="d-block mt-2" *ngIf="livro.publicos && livro.publicos.length > 0">
              Ideal para:
              <app-custom-tag *ngFor="let turma of livro.publicos" [id]="turma.id" [text]="turma.text"></app-custom-tag>
            </p>
            <p class="d-block mt-5"><b>Autores:</b> {{ livro.autores || '-' }}</p>
            <p class="d-block mt-5"><b>Editora:</b> {{ livro.editora || '-' }}</p>
            <p class="d-block mt-2"><b>Ano Edição:</b> {{ livro.anoEdicao || '-' }}</p>
            <p class="d-block mt-2"><b>Número de páginas:</b> {{ livro.numeroPaginas || '-' }}</p>
          </div>
        </div>

        <div class="col-12 mt-5" style="white-space: pre-line;">
          <p>{{ livro.descricao }}</p>
        </div>

        <div class="col-12  border-top mt-5 mb-5"></div>

        <div class="col-12 d-flex justify-content-between mb-3">
          <h4 class="">
            Avaliações
          </h4>
          <a class="btn btn-info btn-block text-white" style="width: 150px;" (click)="openPopupReview()"
            *ngIf="!loggedUserReviewed()">
            Avaliar livro
            <i class="mdi mdi-star"></i>
          </a>
        </div>

        <ng-container *ngFor="let review of livro.reviews">
          <p class="col-12 ml-2 d-flex justify-content-between">
            <span>
              <span class="badge badge-outline-primary mr-2" style="font-size: 1.4em">
                <span *ngFor="let i of review.notaNumbers">&#9733;</span>
              </span>
              <strong>{{ review.usuario.displayName }}</strong> avaliou o livro como
              <strong>{{ getRateLabel(review.nota) }}</strong>
            </span>
            <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em" mwlConfirmationPopover
              popoverTitle="Remover avaliação?" popoverMessage="Tem certeza que deseja remover a sua avaliação?"
              placement="left" (confirm)="removeReview(review)" *ngIf="isFromLoggedUser(review)">
              <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
            </button>
          </p>



          <div class="col-12 mt-2 ml-2" style="white-space: pre-line;">
            <p>{{ review.comentario }}</p>
          </div>
          <div class="col-12 border-bottom mt-5 mb-5"></div>
        </ng-container>

        <p class="col-12 text-center mt-3" *ngIf="!livro.reviews || livro.reviews.length === 0">Nenhuma avaliação foi
          feita para esse
          livro</p>

      </div>
    </div>
  </div>
</div>
