<div class="row">
  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body p-2 pt-3">

            <form class="forms-sample row">
              <h4 class="card-description col-12">
                Informações do aluno
              </h4>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeInput">Nome *</label>
                  <input type="text" class="form-control" id="nomeInput" name="nome" [(ngModel)]="aluno.nome">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeInput">Sobrenome *</label>
                  <input type="text" class="form-control" id="sobrenomeInput" name="sobrenome" [(ngModel)]="aluno.sobrenome">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dtNascimentoInput">Data de nascimento</label>
                  <input type="date" class="form-control" id="dtNascimentoInput" name="dataNascimento" [(ngModel)]="aluno.dataNascimento">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="turmaSelect">Turma *</label>
                  <select class="form-control" id="turmaSelect" name="turma" [(ngModel)]="aluno.turma">
                    <option>Turma 1</option>
                    <option>Turma 2</option>
                    <option>Turma 3</option>
                    <option>Turma 4</option>
                    <option>Turma 5</option>
                    <option>Turma 6</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="dtInicioInput">Data de início</label>
                  <input type="date" class="form-control" id="dtInicioInput" name="dataInicio" [(ngModel)]="aluno.dataInicio">
                </div>
              </div>

              <div class="form-group col-12 pb-4">
                <label for="obsTextarea">Observações</label>
                <textarea class="form-control" id="obsTextarea" rows="5" name="observacoes" [(ngModel)]="aluno.observacoes"></textarea>
              </div>

              <div class="col-md-6" *ngIf="aluno.id">
                <div class="form-check form-group">
                  <input class="form-check-input" type="checkbox" value="true" id="inativoCheck"
                    name="inativo" [(ngModel)]="aluno.inativo">
                  <label for="inativoCheck">
                    Aluno inativo
                  </label>
                </div>
              </div>

              <div class="col-md-6" *ngIf="aluno.inativo">
                <div class="form-group">
                  <label for="inativoObsSelect">Motivo</label>
                  <select class="form-control" id="inativoObsSelect" name="turma" [(ngModel)]="aluno.inativoObs">
                    <option>Parou de ir sem aviso</option>
                    <option>Avisou que não iria mais</option>
                    <option>Responsável saiu da Morada</option>
                    <option>Responsável está de licença da Morada</option>
                    <option>Completou 16 anos</option>
                    <option>Foi apenas uma vez</option>
                  </select>
                </div>
              </div>

              <h4 class="card-description col-12 border-top pt-4">
                Informações do responsável
              </h4>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeRespInput">Nome</label>
                  <input type="text" class="form-control" id="nomeRespInput" name="responsavel.nome" [(ngModel)]="aluno.responsavel.nome">
                </div>
                <div class="form-group">
                  <label for="parentescoInput">Parentesco com aluno</label>
                  <input type="text" class="form-control" id="parentescoInput" name="responsavel.parentesco"
                    [(ngModel)]="aluno.responsavel.parentesco">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="emailInput">Email</label>
                  <input type="email" class="form-control" id="emailInput" name="responsavel.email" [(ngModel)]="aluno.responsavel.email">
                </div>
                <div class="form-group">
                  <label for="telefoneInput">Telefone</label>
                  <input type="tel" class="form-control" id="telefoneInput" name="responsavel.telefone" [(ngModel)]="aluno.responsavel.telefone">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-check form-group">
                  <input class="form-check-input" type="checkbox" value="true" id="trabalhadorCheck"
                    name="responsavel.trabalhador" [(ngModel)]="aluno.responsavel.trabalhador">
                  <label  for="trabalhadorCheck">
                    Trabalhador da Morada
                  </label>
                </div>
              </div>

              <div class="col-12 text-right">
                <button type="submit" class="btn btn-success mr-2" (click)="saveAluno()">Salvar</button>
                <a class="btn btn-light" [routerLink]="['/alunos']">Cancelar</a>
              </div>

            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
