<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body">

      <div class="row">
        <h4 class="card-description col-sm-6 col-md-6 mb-4">Livros</h4>
        <div class="col-sm-6 col-md-6 mb-4 text-right">
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
              <i class="mdi mdi-settings-outline"></i> Ações
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu">
              <button ngbDropdownItem class="dropdown-item" (click)="updateCollection()">Atualizar dados (offline)</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem class="dropdown-item">Corrigir índices</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-2 mb-4">
          <label for="orderBySelect">Ordenar por:</label>
          <select class="form-control" id="orderBySelect" name="orderBy" [(ngModel)]="filterOptions.orderBy">
              <option value="tombo-desc">Tombo &#8593;</option>
            <option value="tombo-asc">Tombo &#8595;</option>
            <option value="createdAt">Últimos cadastrados</option>
            <option value="titulo">Título</option>
            <!-- <option value="nota">Nota</option> -->
          </select>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="form-group">
            <label for="temaFilterSelect">Filtrar por tema:</label>
            <ng-multiselect-dropdown name="temas" [placeholder]="'Selecione...'" [data]="temas" [settings]="{
                singleSelection: true,
                textField: 'descricao',
                idField: 'id',
                allowSearchFilter: true,
                searchPlaceholderText: 'Buscar tema',
                noDataAvailablePlaceholderText: 'Os temas não foram carregados'
              }" [(ngModel)]="filterOptions.tema">
            </ng-multiselect-dropdown>
          </div>

        </div>

        <div class="form-group col-sm-12 col-md-2 mb-4">
          <label for="publicoFilterSelect">Filtrar por público:</label>
          <select class="form-control" id="publicoFilterSelect" name="publico" [(ngModel)]="filterOptions.publico">
            <option value="">Todos</option>
            <option value="turma1">Turma 1</option>
            <option value="turma2">Turma 2</option>
            <option value="turma3">Turma 3</option>
            <option value="turma4">Turma 4</option>
            <option value="turma5">Turma 5</option>
            <option value="pais">Pais</option>
            <option value="evangelizadores">Evangelizadores</option>
          </select>

        </div>

        <div class="form-group col-sm-12 col-md-4 mb-4">
          <label for="searchTextInput">Buscar por tombo, título ou autor:</label>
          <input type="text" class="form-control" id="searchTextInput" name="searchText"
            [(ngModel)]="filterOptions.searchText">
        </div>

        <div class="form-group col-sm-12 col-md-1 mb-4" style="margin-top: 30px;">
          <button class="btn btn-info" (click)="changeFilter()">
            <i class="mdi mdi-magnify" style="margin-right: 0"></i>
          </button>
        </div>

        <!-- <div class="form-group">
          <label for="pesquisaInput">Pesquisa</label>
          <input type="text" class="form-control" id="tomboInput" name="tombo" [(ngModel)]="livro.tombo">
        </div> -->
      </div>

      <div class="row">
        <div app-livros-thumb class="col-lg-4 col-md-6 col-sm-12 mb-2"
          *ngFor="let livro of livros | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" [livro]="livro"
          (editEvent)="edit(livro.id)" (removeEvent)="remove(livro.id)">
        </div>
      </div>
      <ngb-pagination [collectionSize]="livros.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="4"
        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
