<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body p-2 pt-3">

      <h4 class="card-description">Alunos Inativos</h4>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Nome
              </th>
              <th>
                Idade
              </th>
              <th>
                Turma
              </th>
              <th>
                Responsável
              </th>
              <th>
                Motivo inatividade
              </th>
              <th>
                Data inatividade
              </th>
              <th style="width:190px;" *ngIf="hasPermission()">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aluno of alunos; index as i">
              <td scope="row">{{i + 1}}</td>
              <td>
                {{ aluno.nome }} {{ aluno.sobrenome }}
              </td>
              <td><span [innerHTML]="getIdadeLabel(aluno)"></span></td>
              <td>
                <span [innerHTML]="getTurmaLabel(aluno.turma)"></span>
              </td>
              <td>
                {{ aluno.responsavel.nome }} ({{aluno.responsavel.parentesco}})
                <i class="mdi mdi-star-outline" *ngIf="aluno.responsavel.trabalhador"
                  ngbTooltip="Trabalhador da Morada" [ngStyle]="{'font-size': '1.5em' }"></i>
              </td>
              <td>
                {{ aluno.inativoObs }}
              </td>
              <td>
                {{ aluno.inativoAt | date:'dd/MM/yyyy' }}
              </td>
              <td *ngIf="hasPermission()">
                <span placement="top" ngbTooltip="Editar">
                  <button class="btn btn-outline-primary" type="button" style="font-size: 1.2em"
                    (click)="editAluno(aluno.id)">
                    <i class="mdi mdi-pencil" style="margin-right: 0"></i>
                  </button>
                </span>
                <span placement="top" ngbTooltip="Remover">
                  <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em" mwlConfirmationPopover
                    popoverTitle="Remover aluno?" popoverMessage="Tem certeza que deseja remover o aluno '{{aluno.nome}}'?"
                    placement="left" (confirm)="remove(aluno.id)">
                    <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
                  </button>
                </span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
