<div *ngIf="showImage">
  <div *ngIf="downloadURL | async as url">
    <h4>Resultado:</h4>
    <img [src]="url"><br>
    <a [href]="url" target="_blank" rel="noopener">Baixar arquivo</a>
  </div>

  <div *ngIf="snapshot | async as snap">
    {{ snap.bytesTransferred | fileSize }} de {{ snap.totalBytes | fileSize }}

    <button (click)="task.pause()" class="btn btn-warning mr-1" [disabled]="!isActive(snap)">
      <i class="menu-icon mdi mdi-pause"></i>
    </button>
    <button (click)="task.cancel()" class="btn btn-danger mr-1" [disabled]="!isActive(snap)">
      <i class="menu-icon mdi mdi-cancel"></i>
    </button>
    <button (click)="task.resume()" class="btn btn-info mr-1" [disabled]="!(snap?.state === 'paused')">
      <i class="menu-icon mdi mdi-play"></i>
    </button>

  </div>
</div>

<div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">

  <h4>Arraste o arquivo para cá</h4>

  <div class="file">
    <label class="file-label">

      <input class="file-input" type="file" style="display: none" (change)="startUpload($event.target.files)">

      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          ou clique aqui para escolher um arquivo…
        </span>
      </span>
    </label>
  </div>
</div>
