<div *ngIf="getLoggedUser(); then authenticated else login"></div>

<ng-template class="container-scroller" #authenticated>
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper p-2 pt-2">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</ng-template>

<ng-template class="container-scroller" #login>
  <div>
    <app-login-form></app-login-form>
  </div>
</ng-template>

<notifier-container></notifier-container>
<ng4-loading-spinner> </ng4-loading-spinner>
