<nav class="sidebar sidebar-offcanvas no-print" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="collapsedAlunos = !collapsedAlunos" [ngClass]="{'expanded': !collapsedAlunos}">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Alunos</span>
        <i class="menu-arrow"></i>
      </a>

      <div id="collapseAlunos" [ngbCollapse]="collapsedAlunos">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/alunos" routerLinkActive="active">
              <i class="menu-icon mdi mdi-account-check"></i>
              <span class="menu-title">Ativos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/alunos-inativos" routerLinkActive="active">
              <i class="menu-icon mdi mdi-account-remove"></i>
              <span class="menu-title">Inativos</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasAdminPermission()">
            <a class="nav-link" routerLink="/alunos-emails" routerLinkActive="active">
              <i class="menu-icon mdi mdi-at"></i>
              <span class="menu-title">Email</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/evangelizadores" routerLinkActive="active">
        <i class="menu-icon mdi mdi-briefcase"></i>
        <span class="menu-title">Evangelizadores</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="collapsedCalendario = !collapsedCalendario"
        [ngClass]="{'expanded': !collapsedCalendario}">
        <i class="menu-icon mdi mdi-calendar"></i>
        <span class="menu-title">Planejamento</span>
        <i class="menu-arrow"></i>
      </a>

      <div id="collapseAlunos" [ngbCollapse]="collapsedCalendario">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/calendarios" routerLinkActive="active">
              <i class="menu-icon mdi mdi-calendar-multiple"></i>
              <span class="menu-title">Calendários</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="collapsedBiblioteca = !collapsedBiblioteca"
        [ngClass]="{'expanded': !collapsedBiblioteca}">
        <i class="menu-icon mdi mdi-book"></i>
        <span class="menu-title">Biblioteca</span>
        <i class="menu-arrow"></i>
      </a>

      <div id="collapseAlunos" [ngbCollapse]="collapsedBiblioteca">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/livros" routerLinkActive="active">
              <i class="menu-icon mdi mdi-book-multiple"></i>
              <span class="menu-title">Livros</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/biblioteca/emprestimos" routerLinkActive="active">
              <i class="menu-icon mdi mdi-book-open"></i>
              <span class="menu-title">Empréstimos</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasAdminPermission()">
            <a class="nav-link" routerLink="/biblioteca/gerenciar" routerLinkActive="active">
              <i class="menu-icon mdi mdi-settings-outline"></i>
              <span class="menu-title">Gerenciar</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item border-top d-lg-none">
      <a class="nav-link" (click)="signOut()">
        <i class="menu-icon mdi mdi-logout-variant"></i>
        <span class="menu-title">Sair</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">Buttons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trackpad"></i>
        <span class="menu-title">Progress bar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <i class="menu-icon mdi mdi-texture"></i>
        <span class="menu-title">Carousal</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Tooltip</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tabs" routerLinkActive="active">
        <i class="menu-icon mdi mdi-lightbulb-outline"></i>
        <span class="menu-title">Tabs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Dropdown</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active">
        <i class="menu-icon mdi mdi-flag-outline"></i>
        <span class="menu-title">Breadcrumb</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <i class="menu-icon mdi mdi-loupe"></i>
        <span class="menu-title">Pagination</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-shield-outline"></i>
        <span class="menu-title">Alerts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accordions" routerLinkActive="active">
        <i class="menu-icon mdi mdi-altimeter"></i>
        <span class="menu-title">Accordion</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <i class="menu-icon mdi mdi-checkbox-multiple-blank-circle-outline"></i>
        <span class="menu-title">Badges</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bubble"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/typography" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-italic"></i>
        <span class="menu-title">Typography</span>
      </a>
    </li> -->
  </ul>
</nav>
