<div class="row grid-margin d-flex flex-row-reverse no-print" *ngIf="hasPermission()">
  <div class="col-sm-12 col-md-3">
    <a class="btn btn-success btn-block text-white" routerLink="/alunos/criar">
      Novo aluno
      <i class="mdi mdi-plus"></i>
    </a>
  </div>
</div>

<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body">

      <h4 class="card-description">Alunos - {{ selectedTurma }}</h4>

      <div class="col-12 text-right no-print">
        Selecione a turma
        <div class="btn-group d-none d-sm-inline-block" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary bg-pink" (click)="changeTurma(1)">1</button>
          <button type="button" class="btn btn-secondary bg-yellow" (click)="changeTurma(2)">2</button>
          <button type="button" class="btn btn-secondary bg-blue" (click)="changeTurma(3)">3</button>
          <button type="button" class="btn btn-secondary bg-green" (click)="changeTurma(4)">4</button>
          <button type="button" class="btn btn-secondary bg-light-gray" (click)="changeTurma(5)">5</button>
          <button type="button" class="btn btn-secondary bg-secondary" (click)="changeTurma(6)">6</button>
        </div>

        <select class="form-control form-control-sm d-block d-sm-none" id="turmaSelect" name="turma" [(ngModel)]="selectedTurma"
          (ngModelChange)="changeTurma(selectedTurma)" style="line-height: 38px; height: 38px;">
          <option value="1">Turma 1</option>
          <option value="2">Turma 2</option>
          <option value="3">Turma 3</option>
          <option value="4">Turma 4</option>
          <option value="5">Turma 5</option>
          <option value="6">Turma 6</option>
        </select>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="no-print"></th>
              <th>
                #
              </th>
              <th>
                Nome
              </th>
              <th>
                Idade
              </th>
              <th>
                Data de Nascimento
              </th>
              <th class="no-print">
                Turma
              </th>
              <th>
                Responsável
              </th>
              <th>
                Telefone
              </th>
              <th style="width:190px;" class="no-print" *ngIf="hasPermission()">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aluno of alunos; index as i">
              <td class="no-print" scope="row">
                <div class="form-check">
                  <input type="checkbox" name="inativo" [(ngModel)]="aluno.selected">
                </div>
              </td>
              <td scope="row">{{i + 1}}</td>
              <td>
                <a (click)="openDetails(aluno)" class="text-primary" style="cursor: pointer">{{ aluno.nome }} {{
                  aluno.sobrenome }}</a>
              </td>
              <td><span [innerHTML]="getIdadeLabel(aluno)"></span></td>
              <td>
                {{ aluno.dataNascimento | date:'dd/MM/yyyy' }}
              </td>
              <td class="no-print">
                <span [innerHTML]="getTurmaLabel(aluno.turma)"></span>
              </td>
              <td>
                {{ aluno.responsavel.nome }} ({{aluno.responsavel.parentesco}})
                <i class="mdi mdi-star-outline" *ngIf="aluno.responsavel.trabalhador" ngbTooltip="Trabalhador da Morada"
                  [ngStyle]="{'font-size': '1.5em' }"></i>
              </td>
              <td>
                {{ aluno.responsavel.telefone }}
              </td>
              <td *ngIf="hasPermission()" class="no-print">
                <span placement="top" ngbTooltip="Editar">
                  <button class="btn btn-outline-primary" type="button" style="font-size: 1.2em" (click)="editAluno(aluno.id)">
                    <i class="mdi mdi-pencil" style="margin-right: 0"></i>
                  </button>
                </span>
                <span placement="top" ngbTooltip="Remover">
                  <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em"
                    mwlConfirmationPopover popoverTitle="Remover aluno?" popoverMessage="Tem certeza que deseja remover o aluno '{{aluno.nome}}'?"
                    placement="left" (confirm)="remove(aluno.id)">
                    <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
                  </button>
                </span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row grid-margin d-flex flex-row-reverse no-print" *ngIf="hasPermission()">
  <div class="col-sm-12 col-md-2 mb-2">
    <a class="btn btn-primary btn-block text-white" onClick="window.print()">
      <i class="mdi mdi-printer"></i>Imprimir lista
    </a>
  </div>
  <div class="col-sm-12 col-md-2">
    <a class="btn btn-primary btn-block text-white" (click)="getLabels()">
      <i class="mdi mdi-arrow-collapse-down"></i>Crachás
    </a>
  </div>
</div>
