<div class="modal-header">
  <h4 class="modal-title">Avaliar - {{ livro.titulo }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="d-flex justify-content-around">
    <ngb-rating [(rate)]="currentRate" max="5" style="outline: none;">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <b class="align-self-center d-inline-block" style="width:100px">{{ getRateLabel() }}</b>
  </div>

  <textarea class="form-control d-inline-block" rows="6" [(ngModel)]="review"
    placeholder="Digite sua avaliação do livro"></textarea>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
  <button type="button" class="btn btn-success" (click)="saveReview()">Salvar</button>
</div>
