<div class="row">
  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body p-2 pt-3">

            <form class="forms-sample row">
              <h4 class="card-description col-12">
                Informações do evangelizador
              </h4>

              <div class="form-group col-md-6">
                <label for="nomeInput">Nome *</label>
                <input type="text" class="form-control" id="nomeInput" name="nome" [(ngModel)]="evangelizador.nome">
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeInput">Sobrenome *</label>
                  <input type="text" class="form-control" id="sobrenomeInput" name="sobrenome" [(ngModel)]="evangelizador.sobrenome">
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="atividadesSelect">Atividades *</label>
                <select class="form-control" id="atividadesSelect" name="atividade" [(ngModel)]="evangelizador.atividade">
                  <option *ngFor="let atividade of atividades">{{atividade}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="dtInicioInput">Data de início</label>
                <input type="date" class="form-control" id="dtInicioInput" name="dataInicio" [(ngModel)]="evangelizador.dataInicio">
              </div>

              <div class="form-group col-12 pb-4">
                <label for="obsTextarea">Observações</label>
                <textarea class="form-control" id="obsTextarea" rows="5" name="observacoes" [(ngModel)]="evangelizador.observacoes"></textarea>
              </div>

              <div class="form-group col-md-6">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" name="email" [(ngModel)]="evangelizador.email">
              </div>

              <div class="form-group col-md-6">
                <label for="telefoneInput">Telefone</label>
                <input type="tel" class="form-control" id="telefoneInput" name="telefone" [(ngModel)]="evangelizador.telefone">
              </div>


                <div class="form-group col-md-6">
                  <label for="trabalhoMesaSelect">Dia de trabalho de mesa</label>
                  <select class="form-control" id="trabalhoMesaSelect" name="trabalhoMesa" [(ngModel)]="evangelizador.trabalhoMesa">
                    <option>Terça</option>
                    <option>Sexta</option>
                    <option>Sábado</option>
                    <option>Nenhum</option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="trabalhoAtendSelect">Dia de trabalho de atendimento</label>
                  <select class="form-control" id="trabalhoAtendSelect" name="trabalhoAtend" [(ngModel)]="evangelizador.trabalhoAtend">
                    <option>Quarta</option>
                    <option>Quinta</option>
                    <option>Sábado</option>
                    <option>Nenhum</option>
                  </select>
                </div>

              <div class="col-md-6" *ngIf="evangelizador.id">
                <div class="form-check form-group">
                  <input class="form-check-input" type="checkbox" value="true" id="inativoCheck" name="inativo"
                    [(ngModel)]="evangelizador.inativo">
                  <label for="inativoCheck">
                    Evangelizador inativo
                  </label>
                </div>
              </div>


              <div class="col-12 text-right">
                <button type="submit" class="btn btn-success mr-2" (click)="saveEvangelizador()">Salvar</button>
                <a class="btn btn-light" [routerLink]="['/evangelizadores']">Cancelar</a>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
