<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one background">
      <div class="w-100">
        <div class="col-lg-4 mx-auto login-box pb-1">
          <div class="auto-form-wrapper">
            <form action="#">
              <div class="text-center pt-5 pb-5">
                <img src="assets/images/logo.svg" alt="logo" class="w-100"/>
              </div>
              <div class="form-group">
                <button class="btn btn-block google-button" (click)="googleLogin()">
                  <!-- <img class="google-button__icon mr-3" src="https://pbs.twimg.com/profile_images/1025784667121827841/XvFdIs9S_400x400.jpg"
                    alt=""> -->
                  Entrar com Google
                </button>
              </div>
              <div class="form-group">
                <button class="btn btn-block google-button" (click)="facebookLogin()">
                  <!-- <img class="google-button__icon mr-3" src="http://www.stickpng.com/assets/images/584ac2d03ac3a570f94a666d.png"
                    alt=""> -->
                  Entrar com Facebook
                </button>
              </div>
              </form>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
