<div class="modal-header">
  <h4 class="modal-title">Correção de índices</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <button type="button" class="btn btn-success" (click)="startFixes()">Iniciar</button>
  <span class="badge badge-info ml-2">{{ livros.length }} livros cadastrados</span>
  <div *ngIf="fixNotasStarted">
    <p class="mt-2">1. Corrigindo notas...</p>
    <div class="progress" style="height: 30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        [style.width.%]="getProgressStatus()">
        {{ getProgressStatus() }}%</div>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')"
    [disabled]="processRunning">
    {{ processRunning ? 'Aguarde ...' : 'Fechar'}}</button>
</div>
