<div class="row">
  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">

            <form class="forms-sample row">
              <h4 class="card-description col-12">
                Informações básicas
              </h4>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="tomboInput">Nº Tombo</label>
                  <input type="text" class="form-control" id="tomboInput" name="tombo" [(ngModel)]="livro.tombo">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="tituloInput">Título *</label>
                  <input type="text" class="form-control" id="tituloInput" name="titulo" [(ngModel)]="livro.titulo">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="subtituloInput">Subtítulo</label>
                  <input type="text" class="form-control" id="subtituloInput" name="subtitulo" [(ngModel)]="livro.subtitulo">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="colecaoInput">Coleção</label>
                  <input type="text" class="form-control" id="colecaoInput" name="colecao" [(ngModel)]="livro.colecao">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="autoresInput">Autores *</label>
                  <input type="text" class="form-control" id="autoresInput" name="autores" [(ngModel)]="livro.autores">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="editoraInput">Editora</label>
                  <input type="text" class="form-control" id="editoraInput" name="editora" [(ngModel)]="livro.editora">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="isbnInput">ISBN</label>
                  <input type="text" class="form-control" id="isbnInput" name="isbn" [(ngModel)]="livro.isbn">
                </div>
              </div>
              <!-- <div class="col-md-2">
                <button class="btn btn-info" style="margin-top: 30px" (click)="searchGoogleInfo()">Buscar infos</button>
              </div> -->

              <h4 class="card-description col-12 border-top pt-4">
                Informações complementares
              </h4>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="descricaoInput">Descrição</label>
                  <textarea type="text" class="form-control" id="descricaoInput" name="descricao"
                    [(ngModel)]="livro.descricao" rows="6"></textarea>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="numeroPaginasInput">Número de páginas</label>
                  <input type="number" class="form-control" id="numeroPaginasInput" name="numeroPaginas" [(ngModel)]="livro.numeroPaginas">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="anoEdicaoInput">Ano Edição</label>
                  <input type="text" class="form-control" id="anoEdicaoInput" name="anoEdicao" [(ngModel)]="livro.anoEdicao">
                </div>
              </div>

              <h4 class="card-description col-12 border-top pt-4">
                Informações para controle
              </h4>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="statusSelect">Estado de utilização</label>
                  <select class="form-control" id="statusSelect" name="status" [(ngModel)]="livro.status">
                    <option value="ativo">Ativo</option>
                    <option value="perdido">Perdido</option>
                    <option value="doado">Doado</option>
                    <option value="sem_uso">Sem condições de uso</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label>Público alvo</label>
                  <ng-multiselect-dropdown
                    name="publicos"
                    [placeholder]="'Selecione...'"
                    [data]="dropdownListPublicos"
                    [settings]="dropdownSettings"
                    [(ngModel)]="livro.publicos">
                  </ng-multiselect-dropdown>
                </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                    <label>Temas</label>
                    <ng-multiselect-dropdown
                      name="temas"
                      [placeholder]="'Selecione...'"
                      [data]="_livrosService.temas"
                      [settings]="{
                        enableCheckAll: false,
                        textField: 'descricao',
                        idField: 'id',
                        itemsShowLimit: 4,
                        allowSearchFilter: true,
                        searchPlaceholderText: 'Buscar tema'
                      }"
                      [(ngModel)]="livro.temas">
                    </ng-multiselect-dropdown>
                  </div>
                </div>

              <div class="col-md-6">
                <div class="form-check form-group">
                  <input class="form-check-input" type="checkbox" value="true" id="completoCheck"
                    name="inativo" [(ngModel)]="livro.cadastroCompleto">
                  <label for="completoCheck">
                    Informações estão completas?
                  </label>
                </div>
              </div>

              <h4 class="card-description col-12 border-top pt-4">
                Capa
              </h4>

              <div class="col-12">
                <div class="form-group">
                  <app-file-upload [(fileUrl)]="livro.thumbCapa" imageTitle="{{ livro.tombo }} - {{livro.titulo}}"></app-file-upload>
                </div>
              </div>


              <div class="col-12 text-right">
                <button type="submit" class="btn btn-success mr-2" (click)="saveLivro()">Salvar</button>
                <a class="btn btn-light" (click)="backToLastPage()">Cancelar</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
