<div class="col-12 grid-margin stretch-card">

  <div class="card">
    <div class="card-body">

      <h4 class="card-description">Importar livros</h4>

      <div class="input-group col-xs-12">
        <input type="file" class="form-control file-upload-info" (change)='changeFile($event)' placeholder="Selecione o arquivo excel">
        <span class="input-group-append">
          <button class="file-upload-browse btn btn-info" type="button" (click)="convertFile()">Listar registros</button>
        </span>
      </div>

      <ng-container *ngIf="livros.length">
        <div class="alert alert-secondary d-flex justify-content-between mt-3" role="alert">
          <span>{{ livros.length }} registro(s) encontrado(s).<br>Se os registros abaixo estiverem corretos, basta
            clicar em "Iniciar importação".</span>
          <button class="btn btn-secondary" type="button" (click)="startImport()">Iniciar importação</button>
        </div>

        <div class="progress" style="height: 30px" *ngIf="processStarted">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="getProgressStatus()">
            {{ getProgressStatus() }}%</div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Tombo
                </th>
                <th>
                  Título
                </th>
                <th>
                  Autor(es)
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let livro of livros; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ livro.tombo }}</td>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autores }}</td>
                <td><span [innerHTML]="resultStatus[livro.tombo]"></span></td>
              </tr>

            </tbody>
          </table>
        </div>

      </ng-container>


    </div>
  </div>
</div>
