<div class="row">

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-account-multiple text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Alunos ativos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{alunos.length}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-briefcase text-primary icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Evangelizadores ativos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{evangelizadores.length}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
