<div class="row">
  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body p-2 pt-3">

            <form class="forms-sample ">
              <div class="row">
                <h4 class="card-description col-12">
                  Calendário
                </h4>

                <div class="col-12 border-bottom row">
                  <div class="form-group col-md-6">
                    <label for="anoInput">Ano *</label>
                    <input type="number" class="form-control" id="anoInput" name="ano" [(ngModel)]="calendario.ano"
                      maxlength="4">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="semestreSelect">Semestre *</label>
                    <select class="form-control" id="semestreSelect" name="semestre" [(ngModel)]="calendario.semestre">
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <h4 class="card-description col-12 border-top pt-4">
                  Datas
                </h4>
              </div>

              <div class="row border-bottom mb-2 pb-2" style="border-bottom-style: dashed !important;" *ngFor="let atividade of calendario.atividades; let idx = index; trackBy:customTrackBy">

                <div class="form-group col-md-6">
                  <label for="dataAtividade">Data</label>
                  <input type="date" class="form-control" id="dataAtividade" name="dataAtividade-{{idx}}" [(ngModel)]="atividade.data">
                </div>
                <div class="col-md-3 mt-4">
                  <div class="form-check form-group">
                    <input class="form-check-input" type="checkbox" value="true" id="aulaCheck" name="atividade.aula-{{idx}}"
                      [(ngModel)]="atividade.aula">
                    <label for="aulaCheck">
                      Aula na Morada
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mt-4">
                  <div class="form-check form-group">
                    <input class="form-check-input" type="checkbox" value="true" id="externaCheck" name="atividade.externa-{{idx}}"
                      [(ngModel)]="atividade.externa">
                    <label for="externaCheck">
                      Atividade externa
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label for="dataAtividade">Descrições das atividades</label>
                  <input *ngFor="let descricaoAtividade of atividade.descricoes; let i = index; trackBy:customTrackBy" class="form-control"
                    name="descricaoAtividade-{{idx}}-{{i}}"
                    [value]="atividade.descricoes[i]"
                    [(ngModel)]="atividade.descricoes[i]" >
                </div>
                <div class="col-12 text-right">
                  <button type="submit" class="btn btn-info" (click)="addDescricao(atividade)"><i class="mdi mdi-plus" style="margin-right: 0"></i></button>
                </div>

              </div>

              <div class="row">
                <div class="col-12 text-right">
                  <button type="submit" class="btn btn-info" (click)="addAtividade()">Nova data</button>
                </div>

                <div class="col-12 text-right mt-3 border-top pt-3">
                  <button type="submit" class="btn btn-success mr-2" (click)="saveCalendario()">Salvar</button>
                  <a class="btn btn-light" [routerLink]="['/calendarios']">Cancelar</a>
                </div>
              </div>

            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
