
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><span [innerHtml]="htmlTitle"></span></h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0 pb-0">
    <form>
      <div class="form-group">
        <span [innerHtml]="htmlData"></span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
  </div>

