<div class="modal-header">
  <h4 class="modal-title">{{ socio.id ? 'Editar sócio - #' + socio.numero : 'Adicionar sócio' }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form class="row" (submit)="add()">
  <div class="modal-body">

    <div class="col-12 form-group">
      <label for="nomeInput">Nome completo *</label>
      <input type="text" class="form-control d-inline-block" [(ngModel)]="socio.nome" name="nome" id="nomeInput"
        required>
    </div>
    <div class="col-12 form-group">
      <label for="emailInput">Email *</label>
      <input type="email" class="form-control d-inline-block" [(ngModel)]="socio.email" name="email" id="emailInput"
        required>
    </div>
    <div class="col-12 form-group">
      <label for="telefoneInput">Telefone *</label>
      <input type="text" class="form-control d-inline-block" [(ngModel)]="socio.telefone" name="telefone"
        id="telefoneInput" required>
    </div>
    <div class="col-12 form-group">
      <label for="grupoSelect">Grupo *</label>
      <select class="form-control" id="grupoSelect" name="grupo" [(ngModel)]="socio.grupo" required>
        <option [value]="TiposSocios.ALUNOS">Alunos</option>
        <option [value]="TiposSocios.EVANGELIZADORES">Evangelizadores</option>
        <option [value]="TiposSocios.PAIS">Pais</option>
        <option [value]="TiposSocios.OUTROS">Outros</option>
      </select>
    </div>

    <div class="form-group col-12">
      <label for="obsTextarea">Observações</label>
      <textarea class="form-control" id="obsTextarea" rows="3" name="observacoes"
        [(ngModel)]="socio.observacoes"></textarea>
    </div>

  </div>
  <div class="modal-footer text-right">
    <button type="submit" class="btn btn-outline-success mr-2">Salvar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
  </div>
</form>
