/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/mdi/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";

@media print {
  @page {
    size: portrait
  }
  body {
    font-size: 14px;
  }
  .no-print, .no-print * {
      display: none !important;
  }
  .page-body-wrapper, .content-wrapper, .card-body, div[class*=' col'],div[class^='col'] {
    padding: 0 !important;
    background-color: transparent;
  }
  .only-print {
    display: inherit !important;
  }
}

.only-print {
  display: none;
}

.bg-pink {
  background-color: #ffaff7;
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: #ffaff7, $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: #ffaff7, $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.bg-yellow {
  background-color: #FFEB3B;
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: #FFEB3B, $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: #FFEB3B, $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.bg-green {
  background-color: #a1c973;
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: #a1c973, $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: #a1c973, $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.bg-blue {
  background-color: #8cc4f0;
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: #8cc4f0, $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: #8cc4f0, $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.bg-white {
  background-color: #fff;
  transition: background-color 0.5s;
  border: 1px solid #333;
  color: #333;
  &.btn:hover {
    background-color: darken($color: #ddd, $amount: 30%);
    color: #333;
  }
  &.active {
    background-color: darken($color: #ddd, $amount: 15%);
    color: #333;
    text-decoration: underline;
  }
}

.bg-orange {
  background-color: rgb(231, 115, 20);
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: rgb(231, 115, 20), $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: rgb(231, 115, 20), $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.bg-light-gray {
  background-color: #f6f4f4;
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: #f6f4f4, $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: #f6f4f4, $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.bg-gray {
  background-color: #aaa;
  transition: background-color 0.5s;
  &.btn:hover {
    background-color: darken($color: #aaa, $amount: 30%);
    color: #fff;
  }
  &.active {
    background-color: darken($color: #aaa, $amount: 15%);
    color: #fff;
    text-decoration: underline;
  }
}

.form-group {
  .dropdown-btn {
    border: 1px solid #f2f2f2 !important;
    font-size: 0.8em;
    padding: 9px 15px !important;
  }
}

.tab-content {
  border: none !important;
  padding: 0 !important;
}

