<div class="modal-header">
  <h4 class="modal-title">Temas de livros <span class="badge badge-info">{{ temas.length }} cadastrado(s)</span></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="row" (submit)="add()">
    <div class="col-9 form-group">
      <input type="text" class="form-control d-inline-block" [(ngModel)]="novoTema" name="descricao"
        placeholder="Digite o tema">
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-outline-success ml-1" style="font-size: 1.1em">
        <i class="mdi mdi-plus-circle" style="margin-right: 0"></i>
      </button>
    </div>
  </form>

  <div class="row list-area">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Tema
          </th>
          <th style="width:80px;">
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tema of temas">
          <td>{{ tema.descricao }}</td>
          <td class="no-print">
            <span placement="top" ngbTooltip="Remover">
              <button class="btn btn-outline-danger ml-1" type="button" style="font-size: 1.2em" mwlConfirmationPopover
                popoverTitle="Remover calendário?"
                popoverMessage="Tem certeza que deseja remover o tema '{{tema.descricao}}'?" placement="left"
                (confirm)="remove(tema.id)">
                <i class="mdi mdi-close-circle" style="margin-right: 0"></i>
              </button>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
